@import 'app.sass'

.chapter-container
	background: white
	height: 95%
	margin: auto
	top: 0
	bottom: 0
	position: absolute
	transition: 0.8s

	.top-title
		font-size: 14pt
		height: fit-content !important 
		font-weight: 200
		width: 90%
		font-variant: italic 

		div
			width: fit-contet
.chapter-img
	width: 55%

	position: absolute
	height: auto
	z-index: 3
	right: 0px
	bottom: 0
	animation: fade-up 1.2s

.chapter-info
	position: absolute
	width: 75%
	
	bottom: 30vh
	left: 0
	right: 0
	margin: auto
	
	
	max-height: fit-content
	
	h1
		font-size: 42pt
		line-height: 42pt
		font-weight: 900
		animation: pulse .9s
	h2
		font-size: 11pt
		line-height: 11pt
		font-weight: 800
		text-transform: uppercase
	p
		animation: fade 1.5s ease
		line-height: 15pt
		margin-top: 20px

.btn-movement

	position: absolute
	width: 100%
	height: fit-content
	left: 0
	bottom: 0
	margin-bottom: 20px

	right: 0

	.btn-container
		button
			cursor: pointer
			border: none
			background: none

		button:hover
			transition: .3s 
			font-weight: 900


@keyframes fade
	0%

		opacity: 0
	75%
		opacity: 100

@keyframes pulse
	0%
		opacity: 1
		transform: scale(1)

	25% 
		opacity: .6
		transform: scale(1.015)

@keyframes fade-up
	0%
		position: absolute
		bottom: -50%
		right: 200 !important
		transition: 0.3s
	50%
		bottom: 0
		
		


  
