// LandingPage.js style sheet 
@import "app.sass"

.section-1
	background: linear-gradient($primary-color, $secondary-bg-color)
	position: relative
	height: 100vh
	color: white 
	overflow-x: hidden

.section-2
	overflow-x: hidden !important
	width: 100%

.section-3
	height: 100vh
	
	display: block
	position: relative

.full-height
	height: 100vh !important 

.full-width
	width: 100%

.full
	@extend .full-height
	@extend .full-width

.carrousel-container
	background: red
	height

.section-extension-1
	width: 100%
	height: 180px
	background-color: $secondary-bg-color

.section-extension-2
	width: 120%
	margin: auto
	margin-left: -10% 
	left: 0px
	right: 0px
	
	height: 290px
	background-color: $secondary-bg-color

	border-radius: 50% / 100%	
	border-top-left-radius: 0
	border-top-right-radius: 0
	
	border-bottom: 0

.title
	font-weight: 900
	font-size: 64pt
	line-height: 72pt
	text-align: left


.test 
	background: red 


.center
	position: absolute
	margin: auto
	left: 0px 
	right: 0px 
	top: 0
	bottom: 0
	height: fit-content

.ver-mas
	margin-top: 20px
	font-weight: 700
	transition: .3s linear 
	cursor: pointer
	border: solid white 7px
	border-radius: 15px
	padding: 10px 70px 10px 70px 

.ver-mas:hover 
	background: white
	color: $primary-color

.owl 
	position: absolute
	margin: auto
	height: 100vh
	bottom: 0px
	left: 0px
	top: 0px

.cards-container
	width: 200px
	height: 200px 
	
	width: 90%
	margin: auto
	position: absolute
	
	left: 0
	right: 0
	margin-top: -200px

.title-landing-container
	left: -10% !important
.quienes-somos-container
	height:80vh
	width: 55%
	margin: auto
	position: absolute
	top: 290
	bottom: 0
	left: 0
	right: 0
	text-align: center

	h1
		font-weight: 700 
	p
		font-size: 14pt
		margin-top: 50px
	

.data-container

	.a
		font-weight: 900
		font-size: 32pt
		line-height: 0px

	.b 
		font-weight: 300
		line-height: 0px
		margin-left: 10px

    
.title-container
	font-weight: black
	font-size: 36pt
	
	



